.text-box {
    margin-left: calc(-1*min(16vw,16vh) - 40px);
    margin-top: calc(-1*min(2vw,2vh));
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #2e9074;
    color: #FFF;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #2e9074;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: min(2vw,2vh);
  line-height: 1.6;
  margin: 0
}

.font-digit {
  font-family: clockicons, sans-serif;
}

.font-digit-text {
  font-family: VPSSonLaHoa, sans-serif;
  letter-spacing: -.1em
}

.normal-pic {
  height: auto;
  max-height: 60vh;
  width: auto;
  max-width: 60vw;
}

.zoomed-pic {
  z-index: 10;
  max-height: unset;
  max-width: unset;
}

.zoomed-pic-wrapper {
  top: 0 !important;
  left: 0 !important;
  transform: translate(0, 0) !important;
}

/*********************/
/* typewriter effect */
/*********************/
.output {
  text-align: center;
}
